@model List<Category>

<style>

</style>

<body>
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class=" col-6">
                <h2 class="">Categories</h2>
            </div>
            <div class="col-6 text-end">
                @{
                    if (Context.Session.GetString("user") != null)
                    {
                        if (Context.Session.GetInt32("role") == 1)
                        {
                            <a asp-controller="Category" asp-action="Add" class="btn btn-dark">Add Category</a>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="searchInput">Search Product:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput" name="SearchInput" placeholder="Enter Category Name">
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Search"></input>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.CategoryName</td>
                        
                        <td>
                            <div class="w-45 btn-group" role="group">
                                <div>
                                    @{

                                        @if (Context.Session.GetString("user") != null)
                                        {
                                            @if (Context.Session.GetInt32("role") == 1 || Context.Session.GetInt32("role") == 2)
                                            {
                                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.CategoryId" class="btn btn-dark mx-2">Edit</a>

                                            }
                                        }
                                    }
                                </div>

                                <div>
                                    @{

                                        @if (Context.Session.GetString("user") != null)
                                        {
                                            @if (Context.Session.GetInt32("role") == 1 || Context.Session.GetInt32("role") == 2)
                                            {
                                                
                                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.CategoryId" class="btn btn-danger mx-2">Delete</a>

                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</body>
