@model User
<h2 class="text-danger">@TempData["ForgotPasswordError"]</h2>
<style>
    body {
        background-color: #faf0fa; /* Light gray background */
        color: #333; /* Dark text color */
    }
    /*
            .container {
                padding-top: 20px;
            }
         */
    .form {
        border: 2px solid black;
        border-radius: 27px;
        padding: 50px 36px;
        margin-top: 49px;
    }

    .form-control {
        background-color: transparent;
        color: #333; /* Dark text color */
        border: none;
        border-bottom: 2px solid #333; /* Dark border bottom */
        border-radius: 0;
        padding: 10px;
        margin-bottom: 20px;
    }

        .form-control:focus {
            box-shadow: none;
            border-color: #333;
            background-color: transparent;
            color: #333;
        }

    .checkbox-label {
        color: #333; /* Dark text color */
    }

    .btn-create-account {
        background-color: #333; /* Dark button background */
        border-color: #333;
        border-radius: 25px;
        font-weight: bold;
        color: #fff; /* White text color */
        transition: all 0.3s ease;
        width: 125px;
    }

        .btn-create-account:hover {
            background-color: #555; /* Darker button background on hover */
            border-color: #555;
        }

    .form-check-input:checked {
        background-color: #0d6efd;
    }

    .btn-create-account {
        background-color: #333; /* Dark button background */
        border-color: #333;
        border-radius: 25px;
        font-weight: bold;
        color: #fff; /* White text color */
        transition: all 0.5s ease;
        width: 125px;
    }

        .btn-create-account:hover {
            background-color: #555; /* Darker button background on hover */
            border-color: #555;
            color: #fff; /* Change text color to white */
            transform: translateY(-5px); /* Move button up on hover */
        }
</style>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form method="post" class="form" onsubmit="return validate();">


                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" id="email" placeholder="Enter your email">
                        <span asp-validation-for="Email" id="emailError" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" class="form-control" id="password" placeholder="Set a password">
                        <span asp-validation-for="Password" id="pass" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" id="confirmpassword" placeholder="Confirm your password">
                        <span asp-validation-for="ConfirmPassword" id="confirmPass" class="text-danger"></span>
                        <span id="passMatch"></span>
                    </div>

                    <input type="submit" value="Change" class="btn btn-primary  mt-4 mb-5" ></input>
                </form>
            </div>
        </div>
    </div>


<script>
   

    function validate() {
        console.log("validate");

        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        var email = document.getElementById("email").value;
        if (email == "" || email == null) {
            document.getElementById("emailError").innerHTML = '<p>*Please Enter Email </p>'
            return false;
        }
        if (password == null || password == "") {
            document.getElementById("pass").innerHTML = '<p>*Enter Password</p>';
            return false;
        }
        if (confirmPassword == null || confirmPassword == "") {
            document.getElementById("confirmPass").innerHTML = '<p>*Enter Confirm Password</p>';
            return false;
        }
        if (password !== confirmPassword) {
            document.getElementById("passMatch").innerHTML = '<p>*Password Does Not Match With Confirm Password</p>';
            return false;
        }
        return true;

    }

</script>
</body>